* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #084D6E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 80vh;
    width: 50vw;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.53);
    z-index: 1;

}

form {
    max-width: 300px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login-legend {
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #3C3C3C;
    font-size: 1.4em;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-data input {
    width: 300px;
    height: 10px;
    padding: 15px 15px;
    border-radius: 16px;
    outline: 2px solid rgba(8, 77, 110, 0.33);
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button input {
    cursor: pointer;
    height: 44px;
    color: #ffff;
    font-size: 13px;
    letter-spacing: 0.8px;
    font-family: "Inter", sans-serif;
    background-color: #FEBA2D;
    width: 334px;
    padding: 15px 15px;
    border-radius: 16px;
}

.alt-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.alt-text h5 {
    font-family: "Inter", sans-serif;
    color: #ffff;
    font-size: .8em;
    height: 18px;
    text-transform: uppercase;
}

.line {
    height: 2px;
    width: 150px;
    background-color: #ffff;
}

.alt-acess-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    max-width: 320px;
    height: 40px;

}

.alt-acess {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
    border-radius: 16px;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-acess a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-size: .8em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.alt-acess h5 {
    font-size: 12px;
}

.alt-acess img {
    width: 100%;
    height: 100%;
}

.facebook {
    background-color: #084D6E;
    box-shadow: 0px 2px 0px 0px #E5E5E5;
}

.facebook a {
    color: #ffff;
}


.google {
    background-color: #ffff;
    box-shadow: 0px 2px 0px 0px #3C3C3C;
}

.google a {
    color: #000;
}

.warnings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    width: 370px;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
    color: #3C3C3C;
}

.warnings a {
    color: #202020;


}

.pinguim {
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.pinguim img {
    width: 100%;
    height: 100%;
}

.coin {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.coin img {
    width: 100%;
    height: 100%;
}